# Python
.venv/
venv/
__pycache__/
*.pyc

# Node / React
node_modules/
dist/
build/

# Environment files
.env
.env.local

# Database
*.db
smartcx.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Dataset
backend/data/

# Large ML model files
backend/saved_models/*.h5
backend/saved_models/*.keras